/*------------------------------------------------------------------
[Custom Template Stylesheet]

Project:	Cosmetic Agency Html Responsive Template
Version:	1.1
Primary use:	Cosmetic Agency Html Responsive Template
-------------------------------------------------------------------*/

/*add your style css here*/

.navbar-default {
  background: #000 !important;
}

.page_title_ctn {
  background: -webkit-linear-gradient(left, #8f6b29, #fde08d, #df9f28);
  background: linear-gradient(left, #8f6b29, #fde08d, #df9f28);
  color: #000000 !important;
}

.page_title_ctn * {
  color: #000000 !important;
}

.footer * {
  color: #d1b464 !important;
}

.panel .panel-default {
  background: #000 !important;
}

input[type="text"],
input[type="email"],
textarea,
select {
  background: #555555 !important;
  padding-left: 5px !important;
  color: #dedede !important;
}

.glam-page-title {
  font-size: 1.2857142857142858em;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  padding: 5px 0;
  display: inline-block;
  width: 100%;
}
.glam-page-title:after {
  background: #9f7928;
  height: 1px;
  width: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
}

.eapps-instagram-feed a {
  border: red solid 1px !important;
}

@media (max-width: 600px) {
  .information {
    display: none;
  }
}
